<!-- Page Content -->
<div class="page-wrapper text-center">

  <div *ngIf="status == 'error'" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">{{ 'LOGIN.CHYBA' | translate }}</h4>
    <p *ngIf="textChyby" style="margin-bottom: 10px;">{{textChyby}}</p>
    <p style="margin-bottom: 5px;" class="small">{{ 'LOGIN.OPAKUJTE_POZDEJI' | translate }}</p>
  </div>

  <div *ngIf="status == 'incomplete'" class="alert alert-warning" role="alert">
    <h4 class="alert-heading">{{ 'LOGIN.VYZADOVANY_UDAJE' | translate }}</h4>
    <p *ngIf="textChyby" style="margin-bottom: 10px;">{{textChyby}}</p>
    <p style="margin-bottom: 5px;" class="small">{{ 'LOGIN.OPAKUJTE_PRIHLASENI' | translate }}</p>
  </div>

  <div *ngIf="status == 'success'" class="alert alert-success" role="alert">
    {{ 'LOGIN.PRIHLASENI_SSO_DOKONCENO' | translate }}
  </div>

  <button *ngIf="status != 'success'" routerLink="/" type="button" class="btn btn-sm btn-block btn-link mt-4">{{ 'LOGIN.UVODNI_STRANA' | translate }}</button>

</div>
<!-- /#page-wrapper -->
