/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@import 'node_modules/bootstrap/dist/css/bootstrap.css';


@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
//  @import "primeflex/primeflex.css";

@import 'share-res/css/main-app.scss';
@import 'share-res/css/main.scss';
@import 'share-res/css/hamburger.scss';
// @import '../share-res/css/custom-colors.scss';
//@import 'share-res/css/custom-prime.scss';
@import 'share-res/css/custom-prime-indigo.scss';


@import 'share-res/css/tieredmenu-dragdrop.scss';

.p-toast {
    left: 50%;
    transform: translateX(-50%);
}

.p-toast-summary {
    display: none;
}

.p-toast-detail {
    padding-top: 0px;
    margin-top: 0px;
}