<!-- <div class="container"> -->
  <app-breadcrumb [zobrazitVarovani]="orgStrukturaVarovani" textVarovani="{{ textVarovaniOrgStruktura | translate }}"></app-breadcrumb>

  <nav class="seznam-menu navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid p-0">
      <div>
        <!-- <button (click)="showNovyDetail();" type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-file"></i>
          {{ 'TOPMENU.NEW' | translate }}</button> -->
      </div>
      <div>
        <button (click)="zmenaNacistAktivita()" type="button" class="btn btn-sm btn-outline-primary"><i
        class="fa-solid fa-rotate"></i>
        {{ (aktivita ? 'TOPMENU.NACIST_ODSTRANENE' : 'TOPMENU.NACIST_AKTIVNI') | translate }}</button>
      </div>
    </div>
  </nav>

  <app-seznam-component [seznamDataObservable$]="uzivatele$" [rows]="rows" [cols]="cols"
    [selectedColumns]="selectedColumns" (vychoziNastavenitabulkyEmitter)="vychoziNastaveniTabulky($any($event))"
    [podminkaRadekFunction]="podminkaRadek" [colTemplates]="[colVarovaniTemplate]"
    (showDetailDialogEmitter)="showDetailDialog($any($event))" [klicNastaveni]="'table-seznam-uzivatele'">
  </app-seznam-component>

  <ng-template #colVarovaniTemplate let-rowData="rowData" let-rowIndex="rowIndex">
    <div class="text-center">
      <i *ngIf="rowData.varovani" class="fa-solid fa-triangle-exclamation" style="font-size: 1rem;"
        title="{{rowData.varovaniText}}"></i>
    </div>
  </ng-template>

  <app-detail-uzivatel [refreshSeznamToken$]="refreshToken$"></app-detail-uzivatel>
<!-- </div> -->
