/* ::ng-deep .p-overlay-content .p-dropdown-panel.p-component {
    width: 100%;
} */

/* HACK - pokud se toto nenastavilo byla následující chyba - Ihned po refresh stránky se nanastaví překlad do placeholder dropdownu a tím pádem je dropdown menší - viz. seznam Správa oprávnění - pole Závod */
/* :host ::ng-deep .p-dropdown .p-dropdown-label {
    min-height: 37px;
} */

/* HACK - pokud se toto nenastavilo byla následující chyba - Pokud filtruju v dropdownu divně se mění vybraná hodnota - posouvá se a i mizí */
/* :host ::ng-deep .p-dropdown .p-dropdown-label span.ng-star-inserted {
    height: 0px;
    display: block;
} */
