<!-- <div class="container"> -->
<app-breadcrumb></app-breadcrumb>

<nav class="seznam-menu navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid p-0">
    <div>
      <button (click)="showNovyDetail()" type="button" class="btn btn-sm btn-outline-primary"><i
          class="far fa-file"></i>
        {{ 'TOPMENU.NEW' | translate }}</button>
      <span *ngIf="roleSpravaZastupuSynchronizace()" class="separator">|</span>
      <button *ngIf="roleSpravaZastupuSynchronizace()" (click)="synchronizaceZastupu()" type="button"
        class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-rotate"></i>
        {{ 'ZASTUPY.SYNCHRONIZACE' | translate }}</button>
    </div>
    <div>
      <button (click)="zmenaNacistAktivita()" type="button" class="btn btn-sm btn-outline-primary"><i
          class="fa-solid fa-rotate"></i>
        {{ (aktivita ? 'TOPMENU.NACIST_ODSTRANENE' : 'TOPMENU.NACIST_AKTIVNI') | translate }}</button>
    </div>
  </div>
</nav>

<div class="row m-0 mb-3">
  <!-- Platnost od -->
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 p-0 pe-2">
    <app-calendar class="app-calendar" idCalendar="platnostOd" id="platnostOd" name="platnostOd"
      labelText="ZASTUPY.PLATNOST_OD"
      (onBlurEvent)="nastavPlatnost(true)" [showSvatky]="false" (onSelectEvent)="nastavPlatnost(true)"
      [(ngModel)]="filtrPlatnostOd"></app-calendar>
  </div>

  <!-- Platnost do -->
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 p-0 ps-2 pe-md-2">
    <app-calendar class="app-calendar" idCalendar="platnostDo" id="platnostDo" name="platnostDo"
      labelText="ZASTUPY.PLATNOST_DO"
      (onBlurEvent)="nastavPlatnost(false)" [showSvatky]="false" (onSelectEvent)="nastavPlatnost(false)"
      [(ngModel)]="filtrPlatnostDo"></app-calendar>
  </div>

</div>

<app-seznam-component [seznamDataObservable$]="zastupy$" [rows]="rows" [cols]="cols" [selectedColumns]="selectedColumns"
  (vychoziNastavenitabulkyEmitter)="vychoziNastaveniTabulky($any($event))"
  [colTemplates]="[colZastupovanyTemplate, colZastupceTemplate]" [globalFilterFields]="globalFilterFields"
  (showDetailDialogEmitter)="showDetailDialog($any($event))" [klicNastaveni]="'table-seznam-zastup'">
</app-seznam-component>

<ng-template #colZastupovanyTemplate let-rowData="rowData">
  {{rowData.uzivatel?.sapId}} {{rowData.uzivatel?.nazev}}
</ng-template>

<ng-template #colZastupceTemplate let-rowData="rowData">
  {{rowData.uzivatelZastupce?.sapId}} {{rowData.uzivatelZastupce?.nazev}}
</ng-template>

<app-detail-zastup [refreshSeznamToken$]="refreshToken$"></app-detail-zastup>
<!-- </div> -->