<p-dialog [(visible)]="displayDetail" class="detailOkno" [baseZIndex]="1010" position="center"
  (visibleChange)="visibleChange()" [modal]="true" [style]="{width: '1200px'}" [contentStyle]="{height: '95vh'}">
  <p-header>
    <i class="fa-solid fa-shield-halved"></i> {{ 'SPRAVA_OPRAVNENI.NAZEV_DETAIL' | translate }}
  </p-header>
  <form *ngIf="detail" class="h-100 d-flex flex-column" #formDetail="ngForm" (ngSubmit)="ulozit(formDetail)" novalidate>

    <nav class="sticky-menu-okno sticky-menu navbar navbar-light bg-light">
      <div class="container-fluid justify-content-start">
        <button (click)="novyDetail();" *ngIf="rezimDetailu == RezimDetailuEnum.Detail" type="button"
          class="btn btn-sm btn-outline-primary"><i class="far fa-file"></i> {{ 'TOPMENU.NEW' | translate }}</button>
        <button (click)="kopieDetail();" *ngIf="rezimDetailu == RezimDetailuEnum.Detail" type="button"
          class="btn btn-sm btn-outline-primary"><i class="fa-regular fa-copy"></i> {{ 'TOPMENU.COPY' | translate
          }}</button>
        <button (click)="editaceDetail()" *ngIf="rezimDetailu == RezimDetailuEnum.Detail" type="button"
          class="btn btn-sm btn-outline-primary"><i class="fas fa-pencil-alt"></i>
          {{ 'TOPMENU.EDIT' | translate }}</button>
        <button type="submit" *ngIf="rezimDetailu != RezimDetailuEnum.Detail" class="btn btn-sm btn-outline-primary"><i
            class="far fa-save"></i>
          {{ 'TOPMENU.SAVE' | translate }}</button>
        <button type="button" class="btn btn-sm btn-outline-primary"
          *ngIf="rezimDetailu != RezimDetailuEnum.Detail && this.idZaznamu" (click)="zrusitEditaceDetail()">
          <i class="fas fa-times"></i> {{ 'TOPMENU.CANCEL' | translate }}</button>
        <span class="separator">|</span>
        <button (click)="zavritDetail()" type="button" class="btn btn-sm btn-outline-primary"><i
            class="fas fa-sign-out-alt"></i> {{ 'TOPMENU.CLOSE' | translate }}</button>
      </div>
    </nav>

    <div class="row m-0">

      <!-- Kód -->
      <div class="col-sm-6 p-0 pe-sm-2">
        <span class="p-float-label">
          <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.kod" id="kod"
            name="kod" [readOnly]="rezimDetailu == RezimDetailuEnum.Detail" />
          <label for="kod">{{ 'SPRAVA_OPRAVNENI.KOD' | translate }} *</label>
          <p-message class="validator-message" severity="danger"
            text="{{ 'SPRAVA_OPRAVNENI.KOD_VALIDATOR' | translate }}"
            *ngIf="!formDetail.controls['kod']?.valid && formDetail.controls['kod']?.dirty"></p-message>
        </span>
      </div>

      <!-- Název -->
      <div class="col-sm-6 p-0 ps-sm-2">
        <span class="p-float-label">
          <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.nazev" id="nazev"
            name="nazev" [readOnly]="rezimDetailu == RezimDetailuEnum.Detail" />
          <label for="nazev">{{ 'SPRAVA_OPRAVNENI.NAZEV' | translate }} *</label>
          <p-message class="validator-message" severity="danger"
            text="{{ 'SPRAVA_OPRAVNENI.NAZEV_VALIDATOR' | translate }}"
            *ngIf="!formDetail.controls['nazev']?.valid && formDetail.controls['nazev']?.dirty"></p-message>
        </span>
      </div>

    </div>

    <div class="row m-0">

      <!-- Přístup k zaměstnancům -->
      <div class="col-sm-6 p-0 pe-sm-2">
        <app-dropdown [readonly]="rezimDetailu == RezimDetailuEnum.Detail"
          [readOnlyTxt]="detail.typPristupuKZamestnancum ? detail.typPristupuKZamestnancum.nazev : ''"
          class="app-dropdown" idDropdown="pristupKZamestnancum"
          (onChangeEvent)="vyberPristupKZamestnancumOnChange($any($event))" id="pristupKZamestnancum"
          name="pristupKZamestnancum" [required]="true" labelText="SPRAVA_OPRAVNENI.PRISTUP_K_ZAMESTNANCUM"
          validatorMessageText="SPRAVA_OPRAVNENI.PRISTUP_K_ZAMESTNANCUM_VALIDATOR" [form]="formDetail"
          [nacitani]="nacitaniPristupKZamestnancum" dataKey="id"
          [valuesObservable]="pristupKZamestnancumValuesObservable" [(ngModel)]="detail.typPristupuKZamestnancum"
          optionLabel="nazev"></app-dropdown>
      </div>

      <!-- Poznámka -->
      <div class="col-sm-6 p-0 ps-sm-2">
        <span class="p-float-label">
          <input pInputText type="text" autocomplete="off" [(ngModel)]="detail!.poznamka" id="poznamka" name="poznamka"
            name="poznamka" [readOnly]="rezimDetailu == RezimDetailuEnum.Detail" />
          <label for="poznamka">{{ 'SPRAVA_OPRAVNENI.POZNAMKA' | translate }}</label>
        </span>
      </div>

    </div>

    <!-- Aktivita -->
    <div class="form-label-group ps-2">
      <div class="p-field-checkbox">
        <p-checkbox inputId="aktivita" name="aktivita" [disabled]="rezimDetailu == RezimDetailuEnum.Detail"
          [(ngModel)]="detail!.aktivita" [binary]="true"></p-checkbox>
        <label class="checkbox-label-group" for="aktivita">{{ 'SPRAVA_OPRAVNENI.AKTIVITA' | translate }}</label>
      </div>
    </div>

    <p-tabView [(activeIndex)]="activeIndex" class="flex-tabview-scrool">
      <p-tabPanel
        header="{{'SPRAVA_OPRAVNENI.ROLE' | translate}} {{detail.role && rezimDetailu == RezimDetailuEnum.Detail ? '(' + detail.role.length + ')' : ''}}">
        <p-dataView class="polozky-pod-sebou" *ngIf="rezimDetailu == RezimDetailuEnum.Detail" [value]="detail.role!"
          emptyMessage="{{ 'SPRAVA_OPRAVNENI.NENI_PRIRAZENA_ROLE' | translate }}">
          <p-header>
            {{ 'SPRAVA_OPRAVNENI.ROLE' | translate }}
          </p-header>
          <ng-template let-roles pTemplate="list">
            <div *ngFor="let role of roles">
              <span class="fas fa-check"></span>
              {{role.nazev}}
            </div>
          </ng-template>
        </p-dataView>

        <div *ngIf="rezimDetailu != RezimDetailuEnum.Detail && nacitaniDatRole" class="text-center"><i
            class="fas fa-spinner fa-spin"></i>
          {{'SPRAVA_OPRAVNENI.NACITANI_ROLE' | translate}}</div>
        <!-- [listStyle]="{'max-height':'100%', 'flex': '1 1 0'}" -->
        <p-listbox *ngIf="rezimDetailu != RezimDetailuEnum.Detail && !nacitaniDatRole" [filter]="true"
          class="listbox-flex d-flex flex-column flex-grow-1 flex-shrink-1" id="seznamRole" name="seznamRole"
          listStyleClass="listbox-list-flex" [options]="roleValuesObservable | async" [(ngModel)]="detail!.role"
          [metaKeySelection]="false" [checkbox]="true" [multiple]="true" dataKey="id" optionLabel="nazev"
          [showToggleAll]="true">
          <!-- <p-header>
            {{'SPRAVA_OPRAVNENI.ROLE' | translate}}
          </p-header> -->
          <ng-template let-role pTemplate="item">
            <div>
              <div>{{role.nazev}}</div>
            </div>
          </ng-template>
        </p-listbox>

      </p-tabPanel>

      <p-tabPanel
        header="{{'SPRAVA_OPRAVNENI.ZAVODY' | translate}} {{detail.zavody && rezimDetailu == RezimDetailuEnum.Detail ? '(' + detail.zavody.length + ')' : ''}}">
        <!-- Závody -->
        <p-dataView class="polozky-pod-sebou" *ngIf="rezimDetailu == RezimDetailuEnum.Detail" [value]="detail.zavody!"
          emptyMessage="{{ 'SPRAVA_OPRAVNENI.NENI_PRIRAZEN_ZAVOD' | translate }}">
          <p-header>
            {{ 'SPRAVA_OPRAVNENI.ZAVODY' | translate }}
          </p-header>
          <ng-template let-zavody pTemplate="list">
            <div *ngFor="let zavod of zavody">
              <span class="fas fa-check"></span>
              {{zavod.sapId}} - {{zavod.nazev}}
            </div>
          </ng-template>
        </p-dataView>

        <div *ngIf="rezimDetailu != RezimDetailuEnum.Detail && nacitaniDatZavody" class="text-center"><i
            class="fas fa-spinner fa-spin"></i>
          {{'SPRAVA_OPRAVNENI.NACITANI_ZAVODY' | translate}}</div>
        <p-listbox *ngIf="rezimDetailu != RezimDetailuEnum.Detail && !nacitaniDatZavody" id="seznamZavody"
          class="listbox-flex d-flex flex-column flex-grow-1 flex-shrink-1"
          listStyleClass="listbox-list-flex"
          [listStyle]="{'max-height':'100%', 'flex': '1 1 0'}" name="seznamZavody"
          [options]="zavodyValuesObservable | async" [(ngModel)]="detail!.zavody" [metaKeySelection]="false"
          dataKey="id" [checkbox]="true" [multiple]="true" optionLabel="nazev" [showToggleAll]="false">
          <!-- <p-header>
            {{ 'SPRAVA_OPRAVNENI.ZAVODY' | translate }}
          </p-header> -->
          <ng-template let-zavod pTemplate="item">
            <div>
              <div>{{zavod.sapId}} - {{zavod.nazev}}</div>
            </div>
          </ng-template>
        </p-listbox>
      </p-tabPanel>

      <p-tabPanel [disabled]="disabledPozice"
        header="{{'SPRAVA_OPRAVNENI.PRACOVNI_POZICE_ZAMESTNANCI' | translate}} {{detail.pracovniPozice && rezimDetailu == RezimDetailuEnum.Detail ? '(' + detail.pracovniPozice.length + ')' : ''}}">
        <p-dataView class="polozky-pod-sebou" *ngIf="!disabledPozice && rezimDetailu == RezimDetailuEnum.Detail"
          [value]="detail.pracovniPozice!"
          emptyMessage="{{ 'SPRAVA_OPRAVNENI.NENI_PRIRAZENA_PRACOVNI_POZICE' | translate }}">
          <p-header>
            {{ 'SPRAVA_OPRAVNENI.PRACOVNI_POZICE' | translate }}
          </p-header>
          <ng-template let-pracovniPozices pTemplate="list">
            <div *ngFor="let pracovniPozice of pracovniPozices">
              <span class="fas fa-check"></span>
              {{pracovniPozice.nazev}} {{pracovniPozice.uzivatelSapId ? ("(" + pracovniPozice.uzivatelSapId + " - " +
              pracovniPozice.prijmeni + " " + pracovniPozice.jmeno + ")") : ''}}
            </div>
          </ng-template>
        </p-dataView>

        <div class="d-flex flex-column flex-grow-1 flex-shrink-1"
          *ngIf="displayDetail && !disabledPozice && rezimDetailu != RezimDetailuEnum.Detail">
          <!-- <div class="mb-1">
            {{ 'SPRAVA_OPRAVNENI.PRACOVNI_POZICE' | translate }}
          </div> -->
          <ng-template #loading>
            <!-- Načítání seznamu -->
            <div class="row justify-content-center m-0">
              <div class="col-xl-12 text-center">
                <i class="fas fa-spinner fa-spin"></i>
                <!-- <h5 class="page-header"> -->
                {{ 'SPRAVA_OPRAVNENI.NACITANI_PRACOVNI_POZICE' | translate }}
                <!-- </h5> -->
              </div>
            </div>
          </ng-template>

          <div class="d-flex flex-column flex-grow-1 flex-shrink-1"
            *ngIf="(pracovniPoziceValuesObservable | async) as seznamData; else loading;">

            <!-- Pracovní pozice -->
            <p-treeTable #dt [value]="seznamData" styleClass="p-treetable-sm" [virtualScroll]="true"
              [virtualScrollItemSize]="44" class="d-flex flex-column flex-grow-1 flex-shrink-1" selectionMode="checkbox"
              [(selection)]="selectedPracovniPozice" [scrollable]="true" scrollHeight="flex"
              [globalFilterFields]="['fullText']">
              <ng-template pTemplate="caption">
                <div class="d-flex align-items-center">
                  <span>
                    <p-treeTableHeaderCheckbox inputid="vybratVse" itemid="vybratVse"></p-treeTableHeaderCheckbox>
                    <span class="ms-2"><label for="vybratVse">Vybrat vše</label></span>
                  </span>
                  <span class="ms-auto">
                    <span class="p-input-icon-left p-input-icon-right p-mb-2 p-mb-md-0">
                      <i class="pi pi-search"></i>
                      <i [class]="!$any(dt?.filters?.global)?.value ? 'd-none' : 'seznam-hledani-smazat pi pi-times'"
                        title="{{ 'SEZNAM.SMAZAT' | translate }}" (click)="smazatFiltr(dt?.filters?.global, dt)"></i>
                      <input type="text" pInputText size="30" placeholder="{{ 'SEZNAM.HLEDANI' | translate }}"
                        [value]="$any(dt?.filters?.global)?.value"
                        (input)="dt.filterGlobal($any($event.target)?.value, 'contains')" style="width:100%">
                    </span>
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr style="display: block;">
                  <th style="min-width: 500px;">{{ 'SPRAVA_OPRAVNENI.NAZEV' | translate }}</th>
                  <th style="min-width: 400px; width: 100%;">{{ 'SPRAVA_OPRAVNENI.SAP_ID_PRIJMENI_JMENO' | translate }}
                  </th>
                  <!-- <th style="width: 200px;">{{ 'SPRAVA_OPRAVNENI.USEK' | translate }}</th> -->
                  <!-- <th style="width: 450px;"></th> -->
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr style="display: block;">
                  <!-- [style]="rowData.profilSapId ? 'width: 450px;' : 'width: 1050px;'"
                    [attr.colspan]="rowData.profilSapId ? 1 : 3" -->
                  <td style="min-width: 500px;">
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
                    {{rowData.nazev}}
                  </td>
                  <!-- *ngIf="rowData.profilSapId" -->
                  <td style="min-width: 400px; width: 100%">{{rowData.uzivatelSapId ? (rowData.uzivatelSapId + "
                    - " +
                    rowData.prijmeni
                    + " " + rowData.jmeno) : ''}}</td>
                  <!-- *ngIf="rowData.profilSapId" -->
                  <!-- <td style="width: 200px;">{{rowData.usekNazev}}</td> -->
                  <!-- <td style="width: 450px;" >{{rowData.fullText}}</td> -->
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td colspan="2">
                    {{ 'SEZNAM.EMPTY' | translate }}
                  </td>
                </tr>
              </ng-template>

            </p-treeTable>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>

  </form>
</p-dialog>

<app-historie-zaznamu></app-historie-zaznamu>