:host ::ng-deep .header-dots .dropdown-menu.upozorneni {
    background-color: var(--bs-gray-300);
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}

:host ::ng-deep .header-dots .dropdown-menu.upozorneni:has(li.prazdno) {
    background-color: var(--bs-white);
}

@media (max-width: 991.98px) {
    :host ::ng-deep .header-dots .dropdown-menu.upozorneni {
        max-height: calc(100vh - 140px);
    }    
}

:host ::ng-deep .header-dots .dropdown-menu.upozorneni .oznameni {
    background-color: var(--bs-white);
    font-size: 0.875rem;
    cursor: pointer;
}

:host ::ng-deep .header-dots .dropdown-menu.upozorneni .oznameni:hover {
    background-color: var(--bs-gray-100);
}

:host ::ng-deep .header-dots .dropdown-menu.upozorneni .oznameni .p-button-rounded {
    position: absolute;
    top: 0.1rem;
    right: 0.3rem;
    height: 1rem;
    width: 1rem;
}

:host ::ng-deep .header-dots .dropdown-menu.upozorneni .oznameni .nadpis-oznameni {
    color: var(--text-color);
}

:host ::ng-deep .header-dots .dropdown-menu.upozorneni .oznameni .telo-oznameni {
    font-size: 0.75rem;
    color: var(--bs-gray-600);
}

:host ::ng-deep .header-dots .dropdown-menu.upozorneni .oznameni .cas-oznameni {
    font-size: 0.6875rem;
    color: var(--bs-gray-500);
}