<p-dialog [(visible)]="displayDetail" class="detailOkno" [baseZIndex]="1010" position="center"
  (visibleChange)="visibleChange()" [modal]="true" [style]="{width: '700px'}">
  <p-header>
    <i class="fas fa-list"></i> {{ 'ZAKAZKA.NAZEV_DETAIL' | translate }}
  </p-header>

  <form *ngIf="detail" #formDetail="ngForm" (ngSubmit)="ulozit(formDetail)" novalidate>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid justify-content-start">
        <button (click)="novyDetail();" *ngIf="rezimDetailu == RezimDetailuEnum.Detail" type="button"
          class="btn btn-sm btn-outline-primary"><i class="far fa-file"></i> {{ 'TOPMENU.NEW' | translate }}</button>
        <button (click)="editaceDetail()" *ngIf="rezimDetailu == RezimDetailuEnum.Detail" type="button"
          class="btn btn-sm btn-outline-primary"><i class="fas fa-pencil-alt"></i>
          {{ 'TOPMENU.EDIT' | translate }}</button>
        <button type="submit" *ngIf="rezimDetailu != RezimDetailuEnum.Detail" class="btn btn-sm btn-outline-primary"><i
            class="far fa-save"></i>
          {{ 'TOPMENU.SAVE' | translate }}</button>
        <button type="button" class="btn btn-sm btn-outline-primary"
          *ngIf="rezimDetailu != RezimDetailuEnum.Detail && this.idZaznamu" (click)="zrusitEditaceDetail()">
          <i class="fas fa-times"></i> {{ 'TOPMENU.CANCEL' | translate }}</button>
        <span class="separator">|</span>
        <button (click)="zavritDetail()" type="button" class="btn btn-sm btn-outline-primary"><i
            class="fas fa-sign-out-alt"></i> {{ 'TOPMENU.CLOSE' | translate }}</button>
      </div>
    </nav>

    <div class="row m-0">
      <!-- Kód -->
      <div class="col-sm-6 p-0 pe-sm-2">
        <span class="p-float-label">
          <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.id" id="kod" name="kod"
            [readOnly]="rezimDetailu == RezimDetailuEnum.Detail" />
          <label for="kod">{{ 'ZAKAZKA.KOD' | translate }} *</label>
          <p-message class="validator-message" severity="danger" text="{{ 'ZAKAZKA.KOD_VALIDATOR' | translate }}"
            *ngIf="!formDetail.controls['kod']?.valid && formDetail.controls['kod']?.dirty"></p-message>
        </span>
      </div>

      <!-- ID zakázky SAP -->
      <div class="col-sm-6 p-0 ps-sm-2">
        <span class="p-float-label">
          <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.sapId" id="sapId"
            name="sapId" [readOnly]="rezimDetailu == RezimDetailuEnum.Detail" />
          <label for="sapId">{{ 'ZAKAZKA.SAP_ID' | translate }} *</label>
          <p-message class="validator-message" severity="danger" text="{{ 'ZAKAZKA.SAP_ID_VALIDATOR' | translate }}"
            *ngIf="!formDetail.controls['sapId']?.valid && formDetail.controls['sapId']?.dirty"></p-message>
        </span>
      </div>
    </div>

    <!-- Název -->
    <div>
      <span class="p-float-label">
        <input pInputText type="text" required autocomplete="off" [(ngModel)]="detail!.nazev" id="nazev" name="nazev"
          [readOnly]="rezimDetailu == RezimDetailuEnum.Detail" />
        <label for="nazev">{{ 'ZAKAZKA.NAZEV' | translate }} *</label>
        <p-message class="validator-message" severity="danger" text="{{ 'ZAKAZKA.NAZEV_VALIDATOR' | translate }}"
          *ngIf="!formDetail.controls['nazev']?.valid && formDetail.controls['nazev']?.dirty"></p-message>
      </span>
    </div>

    <!-- Závod -->
    <!-- <div *ngIf="detail.lzeZmenitZavod">
      <span class="p-float-label">
        <input pInputText type="text" *ngIf="rezimDetailu == RezimDetailuEnum.Detail"
          [value]="detail.zavod ? detail.zavod.nazev : ''" [readOnly]="true" />
        <p-dropdown id="zavod" [required]="true" *ngIf="rezimDetailu != RezimDetailuEnum.Detail" name="zavod"
          scrollHeight="300px" [autoDisplayFirst]="false" [ngClass]="nacitaniZavodu ? 'nacitani-dat' : ''" [required]="true"
          [options]="zavodValuesObservable | async" dataKey="id" [(ngModel)]="detail!.zavod" [filter]="false"
          [overlayOptions]="{baseZIndex: 1010, appendTo: 'body'}" optionLabel="nazev">
          <ng-template pTemplate="selectedItem">
            {{detail.zavod ? detail.zavod.nazev : ''}}
          </ng-template>
          <ng-template let-zavod pTemplate="item">
            {{zavod.nazev}}
          </ng-template>
        </p-dropdown>
        <label htmlFor="zavod">{{ 'VOZIDLO.ZAVOD' | translate }} *</label>
        <p-message class="validator-message" severity="danger" text="{{ 'VOZIDLO.ZAVOD_VALIDATOR' | translate }}"
        *ngIf="!formDetail.controls['zavod']?.valid && formDetail.controls['zavod']?.dirty"></p-message>
      </span>
    </div> -->

    <div class="row m-0">
      <!-- Platnost od -->
      <div class="col-sm-6 p-0 pe-sm-2">
        <span class="p-float-label">
          <input pInputText type="text" *ngIf="rezimDetailu == RezimDetailuEnum.Detail"
            [value]="detail.platnostOd | date: 'dd.MM.yyyy'" [readonly]="true">
          <p-calendar *ngIf="rezimDetailu != RezimDetailuEnum.Detail" [baseZIndex]="1010"
            [showButtonBar]="true" id="platnostOd" name="platnostOd" appendTo="body"
            [(ngModel)]="detail!.platnostOd">
          </p-calendar>
          <label for="platnostOd">{{ 'ZAKAZKA.PLATNOST_OD' | translate }}</label>
        </span>
      </div>

      <!-- Platnost do -->
      <div class="col-sm-6 p-0 ps-sm-2">
        <span class="p-float-label">
          <input pInputText type="text" *ngIf="rezimDetailu == RezimDetailuEnum.Detail"
            [value]="detail.platnostDo | date: 'dd.MM.yyyy'" [readonly]="true">
          <p-calendar *ngIf="rezimDetailu != RezimDetailuEnum.Detail" [baseZIndex]="1010"
            [showButtonBar]="true" id="platnostDo" name="platnostDo" appendTo="body"
            [(ngModel)]="detail!.platnostDo">
          </p-calendar>
          <label for="platnostDo">{{ 'ZAKAZKA.PLATNOST_DO' | translate }}</label>
        </span>
      </div>
    </div>

    <!-- Aktivita -->
    <div class="form-label-group ps-2">
      <div class="p-field-checkbox">
        <p-checkbox inputId="aktivita" name="aktivita" [disabled]="rezimDetailu == RezimDetailuEnum.Detail"
          [(ngModel)]="detail!.aktivita" [binary]="true"></p-checkbox>
        <label class="checkbox-label-group" for="aktivita">{{ 'ZAKAZKA.AKTIVITA' | translate }}</label>
      </div>
    </div>

  </form>

</p-dialog>
