.main-container {
    padding: 2rem 25vw;
}

/* Padding for screens larger than 1910px */
@media (min-width: 1910px) {
    .main-container {
        padding: 2rem 25vw; /* Adjust this value as needed */
    }
}

/* Padding for screens between 1300px and 1909px */
@media (min-width: 1100px) and (max-width: 1909px) {
    .main-container {
        padding: 2rem 20vw; /* Adjust this value as needed */
    }
}

/* Padding for screens smaller than 1300px */
@media (max-width: 1099px) {
    .main-container {
        padding: 2rem 9vw; /* Adjust this value as needed */
    }
}

.main-container form {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 2rem;
}

fieldset, legend {
    all: revert;
 }

legend {
    color: #9e9e9e;
}
fieldset {
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    margin: 7px 0px 0px 0px;
}

.manual {
    padding: 5px 25px;
}

.manual ul {
    padding-left: 20px;
}
