<div class="main-container">
  <form *ngIf="detail" #formDetail="ngForm" (ngSubmit)="ulozit(formDetail)" novalidate>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid justify-content-start">
        <button (click)="novyDetail();" type="button"
          class="btn btn-sm btn-outline-primary"><i class="far fa-file"></i> {{ 'TOPMENU.NEW' | translate }}</button>
        <button type="submit" class="btn btn-sm btn-outline-primary ms-1"><i
            class="far fa-save"></i>
          {{ 'TOPMENU.SAVE' | translate }}</button>

<!-- 
        <span class="separator">|</span> -->
        <div class="ms-auto">
          <button (click)="showPovoleniVjezduVozidlaCsvDetail();" type="button" class="btn btn-sm btn-outline-primary ms-1"><i class="fa-solid fa-file-csv"></i>
            {{ 'POVOLENI_VJEZDU_VOZIDLA.ULOZIT_POVOLENI_VJEZDU_VOZIDLA_CSV' | translate }}</button>
          <button id="btnImportCSV" (click)="showTypRzVozidlaCsvDetail();" type="button" class="btn btn-sm btn-outline-primary ms-1">
            <i class="fa-solid fa-file-csv"></i> {{ 'POVOLENI_VJEZDU_VOZIDLA.NACIST_VOZIDLA_CSV' | translate }}
          </button>
  
        </div>
      </div> 
    </nav>


    <div class="row m-0">
      <!-- Jméno -->
      <div class="col-sm-6 p-0 pe-sm-1">
        <span class="p-float-label">
          <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.jmenoZadatele" id="jmenoZadatele"
            name="jmenoZadatele"/>
          <label for="jmenoZadatele">{{ 'POVOLENI_VJEZDU_VOZIDLA.JMENO' | translate }} *</label>
          <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.JMENO_VALIDATOR' | translate }}"
            *ngIf="!formDetail.controls['jmenoZadatele']?.valid && formDetail.controls['jmenoZadatele']?.dirty"></p-message>
        </span>
      </div>


      <!-- Příjmení -->
      <div class="col-sm-6 p-0 ps-sm-1">
        <span class="p-float-label">
          <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.prijmeniZadatele" id="prijmeniZadatele"
            name="prijmeniZadatele" />
          <label for="prijmeniZadatele">{{ 'POVOLENI_VJEZDU_VOZIDLA.PRIJMENI' | translate }} *</label>
          <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.PRIJMENI_VALIDATOR' | translate }}"
            *ngIf="!formDetail.controls['prijmeniZadatele']?.valid && formDetail.controls['prijmeniZadatele']?.dirty"></p-message>
        </span>
      </div>
    </div>

      <div class="row m-0">
        <div class="col-sm-6 p-0 pe-sm-1">
          <!-- Email uživatele -->
          <span class="p-float-label">
            <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.emailZadatele" id="emailZadatele"
              name="emailZadatele"/>
            <label for="emailZadatele">{{ 'POVOLENI_VJEZDU_VOZIDLA.EMAIL' | translate }} *</label>
            <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.EMAIL_VALIDATOR' | translate }}"
              *ngIf="!formDetail.controls['emailZadatele']?.valid && formDetail.controls['emailZadatele']?.dirty"></p-message>
          </span>
        </div>
  
  
        <!-- IČO -->
        <div class="col-sm-6 p-0 ps-sm-1">
          <span class="p-float-label">
            <input pInputText type="text" autocomplete="off" [(ngModel)]="detail!.icoZadatele" id="icoZadatele"
              name="icoZadatele"/>
            <label for="icoZadatele">{{ 'POVOLENI_VJEZDU_VOZIDLA.ICO' | translate }}</label>
          </span>
        </div>
      </div>

      <!-- Společnost žadatele -->
      <span class="p-float-label">
        <p-autoComplete [required]="false" [suggestions]="filtrovaneSpolecnosti!"  (completeMethod)="searchSpolecnost($event)"
        field="nazev" [(ngModel)]="detail!.spolecnostZadatele" id="spolecnostZadatele"
         name="spolecnostZadatele">
         <ng-template let-spolecnost pTemplate="item">
           <div>{{ spolecnost.nazev }}</div>
       </ng-template>
      </p-autoComplete>
      <label for="spolecnostZadatele" >{{ 'POVOLENI_VJEZDU_VOZIDLA.SPOLECNOST' | translate }} *</label>
      <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.SPOLECNOST_VALIDATOR' | translate }}"
        *ngIf="!formDetail.controls['spolecnostZadatele']?.valid && formDetail.controls['spolecnostZadatele']?.dirty"></p-message>
    </span>


      <!-- Důvod -->
      <div>
        <span class="p-float-label">
          <textarea pInputTextarea rows="5" [(ngModel)]="detail!.duvodZadosti" id="duvodZadosti" name="duvodZadosti" [required]="true"></textarea>
          <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.DUVOD_VALIDATOR' | translate }}"
          *ngIf="!formDetail.controls['duvodZadosti']?.valid && formDetail.controls['duvodZadosti']?.dirty"></p-message>
          <label for="duvodZadosti">{{ 'POVOLENI_VJEZDU_VOZIDLA.DUVOD' | translate }}</label>
        </span>
      </div>

      <div class="d-flex">
        <button type="button" class="btn btn-sm btn-outline-primary ms-auto mt-2" (click)="pridatVstup()">
          <i class="fas fa-plus"></i>{{ 'POVOLENI_VJEZDU_VOZIDLA.PRIDAT_RZ_TYP_VOZIDLA' | translate }}
        </button>
      </div>

      <div *ngFor="let item of detail.rzVozidla; let i = index; trackBy: trackByFn">
        <!-- RZ vozidla -->
        <fieldset>
          <legend>Vozidlo {{i+1}}</legend>
          <div class="row m-0">
            <div class="col-sm-5 p-0 pe-sm-1">
              <span class="p-float-label">
                <input pInputText type="text" [required]="false" autocomplete="off" [(ngModel)]="detail!.rzVozidla[i]"
                  id="rzVozidla{{i}}" name="rzVozidla{{i}}" (input)="onInputRZVozidla($event, i)"/>
                <label for="rzVozidla{{i}}">{{ 'POVOLENI_VJEZDU_VOZIDLA.RZ_VOZIDLA' | translate }} *</label>
                <p-message class="validator-message" severity="danger"
                  text="{{ 'POVOLENI_VJEZDU_VOZIDLA.RZ_VOZIDLA_VALIDATOR' | translate }}"
                  *ngIf="!formDetail.controls['rzVozidla{{i}}']?.valid && formDetail.controls['rzVozidla{{i}}']?.dirty">
                </p-message>
              </span>
            </div>
          
            <!-- Typ vozidla -->
            <div class="col-sm-5 p-0 ps-sm-1">
              <app-dropdown class="app-dropdown" idDropdown="typVozidla{{i}}" id="typVozidla{{i}}"
                name="typVozidla{{i}}" [required]="true" [showClear]="true" labelText="{{ 'POVOLENI_VJEZDU_VOZIDLA.TYP_VOZIDLA' }}" 
                placeholderText="POVOLENI_VJEZDU_VOZIDLA.TYP_VOZIDLA"
                validatorMessageText="POVOLENI_VJEZDU_VOZIDLA.TYP_VOZIDLA_VALIDATOR" [form]="formDetail"
                [nacitani]="false" dataKey="id"
                [valuesObservable]="vozidloTyp$" 
                [(ngModel)]="detail!.typVozidla[i]" optionLabel="nazev"
               ></app-dropdown> 
            </div>
          
            <!-- Tlačítko odstranit -->
            <div *ngIf="detail.rzVozidla.length > 1" class="col-sm-2 p-0 pe-sm-1 d-flex align-items-center">
              <button type="button" class="btn btn-sm btn-outline-danger" style="margin: 10px 0px 0px 8px; padding: 7px 8px;"  (click)="odstranitVstup(i)">
                <i class="fas fa-minus"></i> {{ 'POVOLENI_VJEZDU_VOZIDLA.ODREBRAT_RZ_TYP_VOZIDLA' | translate }}
              </button>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="row m-0">
        <!-- Země registrace vozidla -->
        <div class="col-sm-6 p-0 pe-sm-1">
          <app-dropdown class="app-dropdown" idDropdown="zemeRegistraceVozidla" id="zemeRegistraceVozidla"
          name="zemeRegistraceVozidla" [required]="true" labelText="{{ 'POVOLENI_VJEZDU_VOZIDLA.ZEME_REGISTRACE_VOZIDLA' }}"
          placeholderText="{{ 'POVOLENI_VJEZDU_VOZIDLA.ZEME_REGISTRACE_VOZIDLA' }}"
          validatorMessageText="{{ 'POVOLENI_VJEZDU_VOZIDLA.ZEME_REGISTRACE_VOZIDLA_VALIDATOR' }}" [form]="formDetail"
          [nacitani]="false" dataKey="id"
          [valuesObservable]="stat$"
          [(ngModel)]="detail!.zemeRegistraceVozidla"
          optionLabel="nazev"></app-dropdown> 
        </div>
  
  
        <!-- Společnost vozidla -->
        <div class="col-sm-6 p-0 ps-sm-1">
          <span class="p-float-label">
            <p-autoComplete [required]="false" [suggestions]="filtrovaneSpolecnosti!"  (completeMethod)="searchSpolecnost($event)"
            field="nazev" [(ngModel)]="detail!.spolecnostVozidla" id="spolecnostVozidla"
             name="spolecnostVozidla">
             <ng-template let-spolecnost pTemplate="item">
               <div>{{ spolecnost.nazev }}</div>
           </ng-template>
          </p-autoComplete>
            <label for="spolecnostVozidla">{{ 'POVOLENI_VJEZDU_VOZIDLA.SPOLECNOST_VOZIDLA' | translate }}</label>
            <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.SPOLECNOST_VOZIDLA_VALIDATOR' | translate }}"
              *ngIf="!formDetail.controls['spolecnostVozidla']?.valid && formDetail.controls['spolecnostVozidla']?.dirty"></p-message>
          </span>
        </div>
      </div>

      <!-- Řidič -->
      <div class="d-flex" >
        <button *ngIf="!this.detail.ridic" (click)="addRidic();" type="button" class="btn btn-sm btn-outline-primary mt-2 ms-auto"><i class="far fa-file"></i>
          {{ 'POVOLENI_VJEZDU_VOZIDLA.PRIDAT_RIDICE' | translate }}</button>
        <button *ngIf="this.detail.ridic" (click)="smazatRidice();" type="button" class="btn btn-sm btn-outline-danger mt-2 ms-auto"><i class="far fa-file"></i>
          {{ 'POVOLENI_VJEZDU_VOZIDLA.ODEBRAT_RIDICE' | translate }}</button>
      </div>

      <fieldset *ngIf="this.detail.ridic">
        <legend>{{ 'POVOLENI_VJEZDU_VOZIDLA.RIDIC' | translate }}</legend>

        <div class="row m-0">
          <!-- Řidič - Jméno -->
          <div class="col-sm-6 p-0 pe-sm-1">
            <span class="p-float-label">
              <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.ridic!.jmeno" id="jmeno"
                name="jmeno"/>
              <label for="jmeno">{{ 'RIDIC.JMENO' | translate }}  *</label>
              <p-message class="validator-message" severity="danger" text="{{ 'RIDIC.JMENO_VALIDATOR' | translate }}"
                *ngIf="!formDetail.controls['jmeno']?.valid && formDetail.controls['jmeno']?.dirty"></p-message>
            </span>
          </div>

          <!-- Řidič - Příjmení -->
          <div class="col-sm-6 p-0 ps-sm-1">
            <span class="p-float-label">
              <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.ridic!.prijmeni" id="prijmeni"
                name="prijmeni" />
              <label for="prijmeni">{{ 'RIDIC.PRIJMENI' | translate }} *</label>
              <p-message class="validator-message" severity="danger" text="{{ 'RIDIC.PRIJMENI_VALIDATOR' | translate }}"
                *ngIf="!formDetail.controls['prijmeni']?.valid && formDetail.controls['prijmeni']?.dirty"></p-message>
            </span>
          </div>
        </div>

        <div class="row m-0">
          <!-- Řidič - Firma -->
          <div class="col-sm-6 p-0 pe-sm-1">
            <span class="p-float-label">
              <p-autoComplete [required]="false" [suggestions]="filtrovaneSpolecnosti!"  (completeMethod)="searchSpolecnost($event)"
              field="nazev" [(ngModel)]="detail!.ridic!.spolecnost" id="spolecnostRidice"
               name="spolecnostRidice">
               <ng-template let-spolecnost pTemplate="item">
                 <div>{{ spolecnost.nazev }}</div>
             </ng-template>
            </p-autoComplete>
              <label for="spolecnostRidice">{{ 'RIDIC.FIRMA' | translate }}</label>
              <p-message class="validator-message" severity="danger" text="{{ 'RIDIC.FIRMA_VALIDATOR' | translate }}"
                *ngIf="!formDetail.controls['spolecnostRidice']?.valid && formDetail.controls['spolecnostRidice']?.dirty"></p-message>
            </span>
          </div>

          <!-- Řidič - Číslo OP -->
          <div class="col-sm-6 p-0 ps-sm-1">
            <span class="p-float-label">
              <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.ridic!.cisloOp" id="cisloOp"
                name="cisloOp" (ngModelChange)="fillInRidicByCisloOp($event)" />
              <label for="cisloOp">{{ 'RIDIC.CISLO_OP' | translate }} *</label>
              <p-message class="validator-message" severity="danger" text="{{ 'RIDIC.CISLO_OP_VALIDATOR' | translate }}"
                *ngIf="!formDetail.controls['cisloOp']?.valid && formDetail.controls['cisloOp']?.dirty"></p-message>
            </span>
          </div>
        </div>

      </fieldset>

      

      <div class="row m-0">
        <!-- Datum od -->
        <div class="col-sm-6 p-0 pe-sm-1">
          <app-calendar class="app-calendar" idCalendar="datumOd"  id="datumOd" name="datumOd" 
            labelText="POVOLENI_VJEZDU_VOZIDLA.DATUM_OD" (onBlurEvent)="nastavPlatnost(false)" (onSelectEvent)="nastavPlatnost(false)"
            [required]="true" validatorMessageText="POVOLENI_VJEZDU_VOZIDLA.DATUM_OD_VALIDATOR" [form]="formDetail" 
            [showButtonBar]="true" [(ngModel)]="detail.datumOd" >
          </app-calendar> 
        </div>
  
  
        <!-- Datum do -->
        <div class="col-sm-6 p-0 ps-sm-1">
            <app-calendar class="app-calendar" idCalendar="datumDo"  id="datumDo" name="datumDo" 
            labelText="POVOLENI_VJEZDU_VOZIDLA.DATUM_DO" (onBlurEvent)="nastavPlatnost(false)" (onSelectEvent)="nastavPlatnost(false)"
            [required]="true" validatorMessageText="POVOLENI_VJEZDU_VOZIDLA.DATUM_DO_VALIDATOR" [form]="formDetail" 
            [showButtonBar]="true" [(ngModel)]="detail.datumDo" > 
          </app-calendar> 
        </div>
      </div>

      <!-- Zavod -->
    <div class="row m-0">
      <div class="col-sm-6 p-0 pe-sm-1">
        <app-dropdown class="app-dropdown" idDropdown="zavod"
        id="zavod" name="zavod" [virtualScroll]="true" (onChangeEvent)="getLokalitaList($any($event.id))"
        [required]="true" labelText="POVOLENI_VJEZDU_VOZIDLA.ZAVOD" validatorMessageText="{{ 'POVOLENI_VJEZDU_VOZIDLA.ZAVOD_VALIDATOR' | translate }}"
        [form]="formDetail" [nacitani]="nacitaniDatZavodu" dataKey="id" [valuesObservable]="zavodyValuesObservable$"
        [(ngModel)]="detail.zavod" [filter]="true" filterBy="nazev"
        optionLabel="nazev"></app-dropdown>
      </div>

      <!-- Lokalita -->
      <div class="col-sm-6 p-0 ps-sm-1">
        <span class="p-float-label">
          <p-multiSelect id="lokalita" name="lokalita" scrollHeight="300px" display="chip" required="true"
            [options]="lokalitaList" dataKey="id" [(ngModel)]="detail!.lokality" optionLabel="nazev"
            [overlayOptions]="{baseZIndex: 1010, appendTo: 'body'}">
          </p-multiSelect>
          <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.LOKALITA_VALIDATOR' | translate }}"
            *ngIf="!formDetail.controls['lokalita']?.valid && formDetail.controls['lokalita']?.dirty"></p-message>
          <label htmlFor="lokalita">{{ 'POVOLENI_VJEZDU_VOZIDLA.LOKALITA' | translate }} *</label>
        </span>
      </div>

    </div>
      <!-- Checkbox pro opakovaný vjezd -->
      <div class="form-label-group ps-2">
        <div class="p-field-checkbox">
          <p-checkbox inputId="opakovanyVjezd" name="opakovanyVjezd"
            [(ngModel)]="detail!.opakovanyVjezd" [binary]="true"></p-checkbox>
          <label class="checkbox-label-group" for="opakovanyVjezd">{{ 'POVOLENI_VJEZDU_VOZIDLA.OPAKOVANY_VJEZD' | translate }}</label>
        </div>
      </div>
  </form>
</div>

<p-toast></p-toast>
<app-detail-povoleni-vjezdu-vozidla-csv></app-detail-povoleni-vjezdu-vozidla-csv>
<app-detail-povoleni-vjezdu-vozidla-typ-rz-csv (rzTypVozidla)="importRzTypVozidlaFromDialog($event)"></app-detail-povoleni-vjezdu-vozidla-typ-rz-csv>