<div class="row align-items-center">
  <div class="col-auto mt-1 mb-2 justify-content-center">
    <i *ngIf="config.data.ikona == IkonaDialogEnum.Info" class="fas fa-3x fa-info-circle ikona-info"></i>
    <i *ngIf="config.data.ikona == IkonaDialogEnum.Warn" class="fas fa-3x fa-exclamation-triangle ikona-warn"></i>
    <i *ngIf="config.data.ikona == IkonaDialogEnum.Error" class="fas fa-3x fa-times-circle ikona-error"></i>
  </div>
  <div class="col mr-2 mt-2 mb-3" style="white-space: pre-wrap; overflow-wrap: anywhere;">{{config.data.text}}</div>
</div>

<div class="row pt-2 border-top justify-content-end">
  <button (click)="zavrit()" type="button" class="btn btn-primary mr-2"><i class="fas fa-times"></i>
    Zavřít</button>
</div>
