<p-dialog [(visible)]="displayDetail" class="detailOkno" [baseZIndex]="1010" position="center"
  (visibleChange)="visibleChange()" [modal]="true" [style]="{width: '700px'}">
  <p-header>
    <i class="fas fa-car"></i> {{ 'POVOLENI_VJEZDU_VOZIDLA.NAZEV_DETAIL' | translate }}
  </p-header>
    
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid justify-content-start">
        <div>
          <input #inputImportCSV id="inputImportCSV" type="file" style="display: none;" (change)="onCsvSelected($event)" data-button-id="btnImportCSV" accept=".csv">
          <button id="btnImportCSV" (click)="importCSV();" type="button" class="btn btn-sm btn-outline-primary">{{ 'POVOLENI_VJEZDU_VOZIDLA.NACIST_CSV_SOUBOR' | translate }}</button>
        </div>
      </div>
    </nav>
    <div class="manual" *ngIf="this.translateService.currentLang == 'cs'">
      <h2>Struktura CSV souboru</h2>
      <ul>
        <li><strong>jmenoZadatele</strong>: Jméno žadatele, <strong>povinné pole</strong>.</li>
        <li><strong>prijmeniZadatele</strong>: Příjmení žadatele, <strong>povinné pole</strong>.</li>
        <li><strong>spolecnostZadatele</strong>: Název společnosti žadatele, <strong>povinné pole</strong>.</li>
        <li><strong>icoZadatele</strong>: IČO žadatele.</li>
        <li><strong>emailZadatele</strong>: Email žadatele, <strong>povinné pole</strong>.</li>
        <li><strong>duvodZadosti</strong>: Důvod žádosti, <strong>povinné pole</strong>.</li>
        <li><strong>rzVozidla</strong>: Řidičské značky vozidla, oddělené vertikální čárou (|).</li>
        <li><strong>typVozidla</strong>: Typy vozidel, oddělené vertikální čárou (|). Povolený typy: <strong>osobní</strong>, <strong>dodávka</strong>, <strong>nákladní</strong>, <strong>speciální</strong></li>
        <li><strong>zemeRegistraceVozidla</strong>: Země registrace vozidla, <strong>povinné pole</strong>. Povolený země: <strong>Česká republika</strong>, <strong>Slovensko</strong>, <strong>Polsko</strong>, <strong>Německo</strong>, <strong>Rakousko</strong></li>
      </ul>
        <div class="my-3">
        <span><strong>Řidiče není povinné vyplňovat</strong>, pokud se již tak rozhodnete, tak musí být vyplněny parametry <strong><i>ridic_jmeno, ridic_prijmeni, ridic_cisloOp</i></strong></span>
        </div>
      <ul>
        <li><strong>ridic_jmeno</strong>: Jméno řidiče.</li>
        <li><strong>ridic_prijmeni</strong>: Příjmení řidiče.</li>
        <li><strong>ridic_cisloOp</strong>: Číslo řidičského průkazu řidiče.</li>
        <li><strong>ridic_firma</strong>: Firma řidiče.</li>
        <li><strong>datumOd</strong>: Datum, od kterého je vjezd povolen, <strong>povinné pole</strong> (ve formátu DD/MM/YYYY).</li>
        <li><strong>datumDo</strong>: Datum, do kterého je vjezd povolen, <strong>povinné pole</strong> (ve formátu DD/MM/YYYY).</li>
        <li><strong>zavodNazev</strong>: Název závodu, kde je vjezd povolen <strong>povinné pole</strong>.</li>
        <li><strong>lokalitaNazvy</strong>: Názvy lokalit, kde je vjezd povolen, oddělené vertikální čárou (|), <strong>povinné pole</strong>.</li>
        <li><strong>opakovanyVjezd</strong>: "true" pokud se jedná o opakovaný vjezd, jinak "false" </li>
      </ul>
    
      <h2 class="mt-3">Názorný příklad CSV soubouru:</h2>
      <pre>
        jmenoZadatele,prijmeniZadatele,spolecnostZadatele,icoZadatele,emailZadatele,duvodZadosti,rzVozidla,typVozidla,zemeRegistraceVozidla,ridic_jmeno,ridic_prijmeni,ridic_cisloOp,ridic_firma,spolecnostVozidla,datumOd,datumDo,zavodNazev,lokalitaNazvy,opakovanyVjezd
        Jan,Novák,DIAMO,51561,test&#64;email.cz,jen tak,6asdsad|65464,osobní|nákladní,Česká republika,Jan,Novák,204514,DIAMO,asd,26/06/2024,26/06/2024,ŘSP,Lokalita 1,true
      </pre>
  </div>

  <div class="manual" *ngIf="this.translateService.currentLang == 'en'">
    <h2>CSV File Structure</h2>
    <ul>
      <li><strong>applicantFirstName</strong>: Applicant's first name, <strong>required field</strong>.</li>
      <li><strong>applicantLastName</strong>: Applicant's last name, <strong>required field</strong>.</li>
      <li><strong>applicantCompany</strong>: Applicant's company name, <strong>required field</strong>.</li>
      <li><strong>applicantICO</strong>: Applicant's company identification number (ICO).</li>
      <li><strong>applicantEmail</strong>: Applicant's email, <strong>required field</strong>.</li>
      <li><strong>requestReason</strong>: Reason for the request, <strong>required field</strong>.</li>
      <li><strong>vehicleLicensePlates</strong>: Vehicle registration numbers, separated by a vertical bar (|).</li>
      <li><strong>vehicleTypes</strong>: Vehicle types, separated by a vertical bar (|). Allowed types: <strong>personal</strong>, <strong>van</strong>, <strong>truck</strong>, <strong>special</strong></li>
      <li><strong>vehicleRegistrationCountry</strong>: Country of vehicle registration, <strong>required field</strong>. Allowed countries: <strong>Czech Republic</strong>, <strong>Slovakia</strong>, <strong>Poland</strong>, <strong>Germany</strong>, <strong>Austria</strong></li>
    </ul>
      <div class="my-3">
      <span><strong>Driver details are not mandatory</strong>, but if you choose to fill them in, the parameters <strong><i>ridic_jmeno, ridic_prijmeni, ridic_cisloOp</i></strong> must be filled out.</span>
      </div>
    <ul>
      <li><strong>driverFirstName</strong>: Driver's first name.</li>
      <li><strong>driverLastName</strong>: Driver's last name.</li>
      <li><strong>driverIDNumber</strong>: Driver's driving license number.</li>
      <li><strong>driverCompany</strong>: Driver's company.</li>
      <li><strong>startDate</strong>: Date from which entry is allowed, <strong>required field</strong> (in DD/MM/YYYY format).</li>
      <li><strong>endDate</strong>: Date until which entry is allowed, <strong>required field</strong> (in DD/MM/YYYY format).</li>
      <li><strong>plantName</strong>: Name of the plant where entry is allowed, <strong>required field</strong>.</li>
      <li><strong>locationNames</strong>: Names of the locations where entry is allowed, separated by a vertical bar (|), <strong>required field</strong>.</li>
      <li><strong>repeatedEntry</strong>: "true" if it is a repeated entry, otherwise "false"</li>
    </ul>
  
    <h2 class="mt-3">Example CSV File:</h2>
    <pre>
      applicantFirstName,applicantLastName,applicantCompany,applicantICO,applicantEmail,requestReason,vehicleLicensePlates,vehicleTypes,vehicleRegistrationCountry,driverFirstName,driverLastName,driverIDNumber,driverCompany,vehicleCompany,startDate,endDate,plantName, locationNames,repeatedEntry
      Jan,Novák,DIAMO,0101447744,test&#64;email.cz,just because,6asdsad|65464,personal|truck,Slovakia,Jan,Novák,204514,DIAMO,asd,26/06/2024,26/06/2024,ŘSP,Lokalita 1,true

    </pre>
</div>
</p-dialog>

