<div [ngClass]="'app-header header-shadow' + ((getKonfigurace() | async)?.demo ? ' bg-danger' : '')">
  <div class="app-header__logo">
    <div class="logo-src me-2"></div>
    <div class="logo-text fs-4 fw-bold"><a href="/">{{appDisplayName}}</a></div>
    <div class="header__pane ms-auto">
      <div>
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
    <span>
      <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
        <span class="btn-icon-wrapper">
          <i class="fa fa-ellipsis-v fa-w-6"></i>
        </span>
      </button>
    </span>
  </div>
  <div class="app-header__content">
    <div class="app-header-left">

      <!-- Hledání -->
      <!-- <div class="search-wrapper">
        <div class="input-holder">
          <input type="text" class="search-input" placeholder="{{ 'HEADER.SEARCH' | translate }}">
          <button class="search-icon"><span></span></button>
        </div>
        <button class="close"></button>
      </div> -->




      <!-- <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul> -->

      <!-- <div *ngIf="oblibeneMenuService.naplneneOblibeneMenuItems()" class="dropdown oblibene-menu">
        <a class="btn dropdown-toggle" (click)="menu2.toggle($event)" role="button">
          <span><i class="fa-solid fa-star"></i> {{ 'HEADER.OBLIBENE' | translate }}</span>
        </a>
        <p-tieredMenu #menu2 styleClass="oblibene" [model]="oblibeneMenuService.oblibeneMenuItems()" appendTo="body"
          [popup]="true"></p-tieredMenu>
      </div> -->

    </div>

    <div class="app-header-right">

      <div class="header-dots">

        <div class="me-2" *ngIf="oblibeneMenuService.naplneneOblibeneMenuItems()">
          <button type="button" class="dropdown p-0 btn" (click)="menu.toggle($event)">
            <span class="icon-wrapper icon-wrapper-alt rounded-circle">
              <span class="icon-wrapper-bg bg-focus"></span>
              <i class="fa-solid fa-star"></i>
            </span>
          </button>
          <p-tieredMenu (onShow)="dragDropMenuOblibene(menu, odstranitOblibene)" styleClass="oblibene" #menu
            [model]="oblibeneMenuService.oblibeneMenuItems()" appendTo="body" [popup]="true"></p-tieredMenu>
          <div #odstranitOblibene class="odstanit-oblinene"><i
              class="fa-solid fa-trash fa-2x position-absolute top-50 start-50 translate-middle"></i></div>
        </div>

        <div class="me-2">
          <button type="button" id="upozorneniDropdownMenuButton" data-bs-toggle="dropdown" class="dropdown p-0 btn"
            aria-expanded="false">
            <span class="icon-wrapper icon-wrapper-alt rounded-circle">
              <span class="icon-wrapper-bg bg-focus"></span>
              <i class="fa-solid fa-bell"></i>
              <!-- <span class="language-icon opacity-70 flag large {{nastavenyJazyk | uppercase}}"></span> -->
            </span>
            <span *ngIf="pocetNeprectenychOznameni > 0"
              class="position-absolute translate-middle badge rounded-pill bg-danger"
              style="top: 5px; left: 90%; z-index: 3;">
              {{pocetNeprectenychOznameni}}
            </span>
          </button>
          <!-- <div class="dropdown-menu p-3 text-muted" style="max-width: auto;">
            <p style="width: 200px;">
              Some example text that's free-flowing within the dropdown menu.
            </p>
            <p class="mb-0">
              And this is more example text.
            </p>
          </div> -->

          <ul class="dropdown-menu upozorneni p-0" aria-labelledby="upozorneniDropdownMenuButton">
            <li *ngFor="let ozn of oznameni; index as i">
              <!-- <div class="text-center" [style]="i > 0 ? 'border-top: 1px solid #EEE;' : ''"><a class="dropdown-item" -->
              <a (click)="klikOznameni(ozn, $event)" [href]="ozn.url" target="_blank" class="p-2 oznameni d-flex m-1 rounded">
                <div class="ps-1 ikona m-auto">
                  <i *ngIf="ozn.typ == OznameniDtoTypEnum.Info" class="fa-3x fa-solid fa-circle-info text-success"></i>
                  <i *ngIf="ozn.typ == OznameniDtoTypEnum.DuleziteInfo" class="fa-3x fa-solid fa-circle-info text-warning"></i>
                  <i *ngIf="ozn.typ == OznameniDtoTypEnum.Varovani" class="fa-3x fa-solid fa-circle-exclamation text-warning"></i>
                  <i *ngIf="ozn.typ == OznameniDtoTypEnum.Chyba" class="fa-3x fa-solid fa-circle-exclamation text-danger"></i>
                </div>
                <div class="ms-3 me-2 flex-grow-1">
                  <div [class]="ozn.precteno ? 'nadpis-oznameni mb-1' : 'nadpis-oznameni mb-1 fw-bold'">{{ozn.nadpis}}</div>
                  <!-- <div class="telo-oznameni white-space-pre-wrap">{{ozn.text}}</div> -->
                  <div class="telo-oznameni white-space-pre-wrap" [innerHTML]="ozn.text"></div>
                  <div class="cas-oznameni">{{ozn.vytvoril?.nazev}} {{ozn.vytvoreno | date: 'dd.MM.yyyy HH:mm:ss'}}</div>
                </div>
                <p-button (click)="odstranitOznameni(ozn, i, $event)" icon="fa-solid fa-times" [text]="true" [rounded]="true"
                  styleClass="p-button-danger"></p-button>
              </a>
            </li>
            <!-- <li>
              <div class="text-center" style="border-top: 1px solid #EEE;"><a class="dropdown-item"
                  (click)="nastavJazyk('cs')">
                  <div class="fw-bold">Text první řádek</div>
                  <div>
                    <p-progressBar [value]="10"></p-progressBar>
                    <p-progressBar mode="indeterminate" [value]="10"></p-progressBar>
                  </div>
                  <div>Text druhý řádek</div>
                </a>
              </div>
            </li> -->
            <li *ngIf="!oznameni || oznameni.length == 0" class="m-3 mt-2 mb-2 prazdno" style="font-size: 0.88rem;">{{ 'HEADER.ZADNA_UPOZORNENI' | translate }}</li>
          </ul>

        </div>

        <!-- Přepínání jazyka -->
        <!-- <div class="me-2">
          <button type="button" id="jazykDropdownMenuButton" data-bs-toggle="dropdown" class="dropdown p-0 btn btn-link"
            aria-expanded="false">
            <span class="icon-wrapper icon-wrapper-alt rounded-circle">
              <span class="icon-wrapper-bg bg-focus"></span>
              <span class="language-icon opacity-70 flag large {{nastavenyJazyk | uppercase}}"></span>
            </span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="jazykDropdownMenuButton">
            <li><a class="dropdown-item" (click)="nastavJazyk('cs')"><span class="me-3 opacity-8 flag large CS"></span>
                {{ 'HEADER.JAZYK_CZECH' | translate }}</a></li>
            <li><a class="dropdown-item" (click)="nastavJazyk('en')"><span class="me-3 opacity-8 flag large EN"></span>
                {{ 'HEADER.JAZYK_ENGLISH' | translate }}</a></li>
          </ul>
        </div> -->

        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div> -->

      </div>

      <div title="{{ 'HEADER.AUTO_LOGOUT_TEXT' | translate }}" class="logout-timer text-center">
        <p class="small">{{ 'HEADER.AUTO_LOGOUT' | translate }}</p> {{authService.getCasExpirace() |
        hodinyMinutySekundy}}
      </div>

      <!-- <div class="header-btn-lg pr-0"> -->
      <div class="pr-0">
        <div class="widget-content p-0">
          <div class="widget-content-wrapper">
            <!-- <div class="widget-content-left">
            </div>
            <div class="widget-content-left ml-3 header-user-info">
              <div class="widget-heading"> Alina Mclourd </div>
              <div class="widget-subheading"> VP People Manager </div>
            </div>  -->

            <div class="widget-content-right">
              <div class="dropdown">
                <a [class]="'btn dropdown-toggle drop-down-two-lines' + ((getPrihlasenyUzivatel() | async)?.zastup ? ' pt-0 pb-0' : '')" (click)="menuUzivatel.toggle($event)" role="button">
                  <span>
                      <div class="fw-bolder" [style]="(getPrihlasenyUzivatel() | async)?.zastup ? 'font-size: 0.875rem;' : ''">{{(getPrihlasenyUzivatel() | async)?.name}}</div>
                      <div *ngIf="(getPrihlasenyUzivatel() | async)?.zastup" class="text-secondary" style="font-size: 0.75rem;">{{(getPrihlasenyUzivatel() | async)?.zastup?.nazev}}</div>
                      <div class="text-secondary" style="font-size: 0.75rem;">{{(getPrihlasenyUzivatel() | 
                        async)?.zavod?.nazev}}</div>
                  </span>
                </a>
                <p-tieredMenu styleClass="menu-uzivatel" #menuUzivatel [model]="userMenuItems" appendTo="body"
                  [popup]="true"></p-tieredMenu>


                <!-- <ul class="dropdown-menu" aria-labelledby="uzivatelDropdownMenuLink"> -->
                <!-- <li>
                    <a (click)="profile()" class="dropdown-item p-link">
                      <i class="fas fa-user fa-fw"></i> {{ 'HEADER.USER_PROFILE' | translate }}</a>
                  </li>

                  <li class="dropdown-divider"></li> -->

                <!-- <li class="nav-item" *ngIf="(getPrihlasenyUzivatel() | async)?.ostatniProfily?.length! > 0">
                    <a class="dropdown-item">
                      <i class="fa-solid fa-caret-left fa-fw"></i> {{ 'HEADER.ZMENIT_ZAVOD' | translate }}
                    </a>
                    <ul class="submenu dropdown-menu">
                      <li *ngFor="let ostatniProfil of (getPrihlasenyUzivatel() | async)?.ostatniProfily">
                        <a (click)="zmenaZavodu(ostatniProfil)" class="dropdown-item p-link">{{ostatniProfil.nazev}}</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-divider" *ngIf="(getPrihlasenyUzivatel() | async)?.ostatniProfily?.length! > 0">
                  </li>
                  <li *ngIf="roleZamestnanec()">
                    <a routerLink="/private/zam-nastaveni" class="dropdown-item p-link">
                      <i class="fa-solid fa-gear fa-fw"></i> {{ 'HEADER.ZAM_NASTAVENI' | translate }}</a>
                  </li>
                  <li class="dropdown-divider" *ngIf="roleZamestnanec()"></li>
                  <li *ngIf="!(getPrihlasenyUzivatel() | async)?.kmenovy">
                    <a routerLink="/private/zmena-heslo" class="dropdown-item p-link">
                      <i class="fa-solid fa-key fa-fw"></i> {{ 'HEADER.ZMENA_HESLA' | translate }}</a>
                  </li>
                  <li class="dropdown-divider" *ngIf="!(getPrihlasenyUzivatel() | async)?.kmenovy"></li>
                  <li>
                    <a (click)="logout()" class="dropdown-item p-link">
                      <i class="fas fa-sign-out-alt fa-fw"></i> {{ 'HEADER.LOGOUT' | translate }}</a>
                  </li> -->


                <!-- </ul> -->
              </div>
            </div>

            <!-- <div class="widget-content-right header-user-info ml-3">
              <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                <i class="fa text-white fa-calendar pr-1 pl-1"></i>
              </button>
            </div> -->
          </div>
        </div>
      </div>
      <!-- <div class="header-btn-lg">
        <button type="button" class="hamburger hamburger--elastic open-right-drawer">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div> -->
    </div>
  </div>

</div>

<p-confirmDialog [baseZIndex]="8000" position="top" header="{{ 'HEADER.CONFIRM_NADPIS' | translate }}"
  icon="fas fa-question-circle text-primary" acceptLabel="{{ 'HEADER.CONFIRM_ACCEPT_LABEL' | translate }}"
  acceptButtonStyleClass="btn btn-primary" acceptIcon="fas fa-check me-1"
  rejectLabel="{{ 'HEADER.CONFIRM_REJECT_LABEL' | translate }}" rejectButtonStyleClass="btn btn-outline-primary"
  rejectIcon="fas fa-times me-1" [style]="{top: '200px'}">
</p-confirmDialog>

<p-toast [baseZIndex]="8000" position="top-center" icon="fas fa-info-circle text-primary">
  <ng-template let-message pTemplate="message">
    <!-- <span style="position: absolute; display: inline-block; top: 0.6em;"><i class="fas fa-info-circle"
        style="font-size: 1.5em"></i></span> -->
    <div style="white-space: pre-line; padding-left: .5em; margin: 4px; padding-right: 1.5em;">{{message.summary}}</div>
    <!-- <div >
            <i class="fas fa-question-circle" style="font-size: 1.5em"></i>
            {{message.summary}}
            {{message.detail}}
          </div> -->
  </ng-template>
</p-toast>