<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light">
    <li *ngFor="let navigator of breadcrumbService.breadcrumb;  index as i"
      class="breadcrumb-item {{i == breadcrumbService.breadcrumb!.length - 1 ? 'active': ''}}"
      [attr.aria-current]="i == breadcrumbService.breadcrumb!.length - 1 ? 'page': null">
      <a title="{{navigator.nazevTitle}}" *ngIf="i != breadcrumbService.breadcrumb!.length - 1" [href]="navigator.url">
        {{navigator.nazev}}
      </a>
      <span title="{{navigator.nazevTitle}}" *ngIf="i == breadcrumbService.breadcrumb!.length - 1">
        {{navigator.nazev}}
      </span>
    </li>
    <li class="ms-1" *ngIf="polozkaMenuEnum">
      <button *ngIf="!oblibeneMenuService.obsahujeOblibeneMenu(polozkaMenuEnum)"
        (click)="oblibeneMenuService.pridatOblibene(polozkaMenuEnum)" class="icon-oblibene breadcrumb-item active"
        title="{{ 'BREADCRUMB.PRIDAT_DO_OBLIBENYCH' | translate }}">
        <i class="fa-regular fa-star"></i>
      </button>
      <button *ngIf="oblibeneMenuService.obsahujeOblibeneMenu(polozkaMenuEnum)"
        (click)="oblibeneMenuService.odebratOblibene(polozkaMenuEnum)" class="icon-oblibene aktivni breadcrumb-item active"
        title="{{ 'BREADCRUMB.ODEBRAT_Z_OBLIBENYCH' | translate }}">
        <i class="fa-solid fa-star"></i>
      </button>
    </li>
    <li *ngIf="zobrazitVarovani" class="ms-auto pe-2" style="color: var(--red-500);">{{textVarovani}}</li>
    <li *ngIf="zobrazitVarovani && (!zobrazitSkrytFiltry || !zobrazitVlastniTlacitko)" class="ms-auto pe-2"></li>
    <li *ngIf="zobrazitSkrytFiltry && !skryteFiltry" class="ms-auto pe-2"><a class="hide-filter active"
        title="{{ 'BREADCRUMB.SKRYT_FILTR' | translate }}" (click)="skrytMenu()"><i
          class="fa-solid fa-angles-up"></i></a></li>
    <li *ngIf="zobrazitSkrytFiltry && skryteFiltry" class="ms-auto pe-2"><a class="hide-filter active"
        title="{{ 'BREADCRUMB.ZOBRAZIT_FILTR' | translate }}" (click)="skrytMenu()"><i
          class="fa-solid fa-angles-down"></i></a></li>
    <li *ngIf="zobrazitVlastniTlacitko" class="ms-auto pe-2"><a class="vlastni-tlacitko active"
        title="{{ vlastniTlacitkoTitle | translate }}" (click)="vlastniTlacitkoClick()"><i
          class="fa-solid fa-pen-to-square"></i></a></li>
  </ol>
</nav>