<form *ngIf="detail" #formDetail="ngForm" (ngSubmit)="ulozit(formDetail)" novalidate>
    <nav class="navbar navbar-light bg-light">
      <!-- <div class="container-fluid justify-content-start">
        <button (click)="novyDetail();" *ngIf="rezimDetailu == RezimDetailuEnum.Detail" type="button"
          class="btn btn-sm btn-outline-primary"><i class="far fa-file"></i> {{ 'TOPMENU.NEW' | translate }}</button>
        <button (click)="editaceDetail()" *ngIf="rezimDetailu == RezimDetailuEnum.Detail" type="button"
          class="btn btn-sm btn-outline-primary"><i class="fas fa-pencil-alt"></i>
          {{ 'TOPMENU.EDIT' | translate }}</button>
        
        <button type="submit" *ngIf="rezimDetailu != RezimDetailuEnum.Detail" class="btn btn-sm btn-outline-primary"><i
            class="far fa-save"></i>
          {{ 'TOPMENU.SAVE' | translate }}</button>
        <input #inputImportCSV id="inputImportCSV" type="file" style="display: none;" (change)="onCsvSelected($event)" data-button-id="btnImportCSV" accept=".csv">
        <button id="btnImportCSV" (click)="importCSV();" type="button" class="btn btn-sm btn-outline-primary">
          <i class="fa-solid fa-file-csv"></i> Načíst vozidla z CSV souboru
        </button>
        <button type="button" class="btn btn-sm btn-outline-primary"
          *ngIf="rezimDetailu != RezimDetailuEnum.Detail && this.idZaznamu" (click)="zrusitEditaceDetail()">
          <i class="fas fa-times"></i> {{ 'TOPMENU.CANCEL' | translate }}</button>
        <span class="separator">|</span>
        <button (click)="zavritDetail()" type="button" class="btn btn-sm btn-outline-primary"><i
            class="fas fa-sign-out-alt"></i> {{ 'TOPMENU.CLOSE' | translate }}</button>
        <button (click)="showCsvInfo()" type="button" class="btn btn-sm btn-outline-primary ms-auto "><i 
          class="fa-solid fa-info me-1"></i> Manuál CSV </button>
      </div> -->
    </nav>

    <p-dialog [(visible)]="showCsvInfoDialog" header="Dokumentace CSV" [modal]="true" [style]="{width: '50vw'}">
      <p-header>
        <i class="fa-solid fa-info me-1"></i> {{ 'Dokumentace CSV' | translate }}
      </p-header>
    
      <div class="manual">
        <h4>Struktura CSV souboru</h4>
        <ul>
          <li><strong>typVozidla</strong>: Typ vozidla, povolené hodnoty jsou <strong>osobní</strong>, <strong>dodávka</strong>, <strong>nákladní</strong>, <strong>speciální</strong>. Můžete zadat více typů oddělených vertikální čárou (|).</li>
          <li><strong>rzVozidla</strong>: RZ vozidla, můžete zadat více hodnot oddělených vertikální čárou (|).</li>
        </ul>
        <h4 class="mt-3">Názorný příklad CSV soubouru:</h4>
        <pre>
          typVozidla,rzVozidla
          osobní|nákladní,6asdsad|65464
        </pre>
      </div>
    </p-dialog>

    <div class="row m-0">
      <!-- Jméno -->
      <div class="col-sm-6 p-0 pe-sm-1">
        <span class="p-float-label">
          <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.jmenoZadatele" id="jmenoZadatele"
            name="jmenoZadatele"/>
          <label for="jmenoZadatele">{{ 'POVOLENI_VJEZDU_VOZIDLA.JMENO' | translate }} *</label>
          <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.JMENO_VALIDATOR' | translate }}"
            *ngIf="!formDetail.controls['jmenoZadatele']?.valid && formDetail.controls['jmenoZadatele']?.dirty"></p-message>
        </span>
      </div>


      <!-- Příjmení -->
      <div class="col-sm-6 p-0 ps-sm-1">
        <span class="p-float-label">
          <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.prijmeniZadatele" id="prijmeniZadatele"
            name="prijmeniZadatele" />
          <label for="prijmeniZadatele">{{ 'POVOLENI_VJEZDU_VOZIDLA.PRIJMENI' | translate }} *</label>
          <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.PRIJMENI_VALIDATOR' | translate }}"
            *ngIf="!formDetail.controls['prijmeniZadatele']?.valid && formDetail.controls['prijmeniZadatele']?.dirty"></p-message>
        </span>
      </div>
    </div>

      <div class="row m-0">
        <!-- Společnost -->
        <div class="col-sm-6 p-0 pe-sm-1">
          <span class="p-float-label">
            <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.spolecnostZadatele" id="spolecnostZadatele"
              name="spolecnostZadatele" />
            <label for="spolecnostZadatele" >{{ 'POVOLENI_VJEZDU_VOZIDLA.SPOLECNOST' | translate }} *</label>
            <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.SPOLECNOST_VALIDATOR' | translate }}"
              *ngIf="!formDetail.controls['spolecnostZadatele']?.valid && formDetail.controls['spolecnostZadatele']?.dirty"></p-message>
          </span>
        </div>
  
  
        <!-- IČO -->
        <div class="col-sm-6 p-0 ps-sm-1">
          <span class="p-float-label">
            <input pInputText type="text" autocomplete="off" [(ngModel)]="detail!.icoZadatele" id="icoZadatele"
              name="icoZadatele"/>
            <label for="icoZadatele">{{ 'POVOLENI_VJEZDU_VOZIDLA.ICO' | translate }} *</label>
          </span>
        </div>
      </div>

      <!-- Důvod -->
      <div>
        <span class="p-float-label">
          <textarea pInputTextarea rows="5" [(ngModel)]="detail.duvodZadosti" id="duvodZadosti" name="duvodZadosti" [required]="true"></textarea>
          <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.DUVOD_VALIDATOR' | translate }}"
          *ngIf="!formDetail.controls['duvodZadosti']?.valid && formDetail.controls['duvodZadosti']?.dirty"></p-message>
          <label for="duvodZadosti">{{ 'ZADOST_KLIC.DUVOD' | translate }}</label>
        </span>
      </div>

      <div *ngIf="rezimDetailu != RezimDetailuEnum.Detail" class="d-flex">
        <button type="button" class="btn btn-sm btn-outline-primary ms-auto mt-2" (click)="pridatVstup()">
          <i class="fas fa-plus"></i> Přidat RZ a Typ Vozidla
        </button>
      </div>

      <div *ngFor="let item of detail.rzVozidla; let i = index; trackBy: trackByFn">
        <!-- RZ vozidla -->
        <fieldset>
          <legend>Vozidlo {{i+1}}</legend>
          <div class="row m-0">
            <div class="col-sm-5 p-0 pe-sm-1">
              <span class="p-float-label">
                <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="detail!.rzVozidla[i]"
                  id="rzVozidla{{i}}" name="rzVozidla{{i}}" />
                <label for="rzVozidla{{i}}">{{ 'POVOLENI_VJEZDU_VOZIDLA.RZ_VOZIDLA' | translate }} *</label>
                <p-message class="validator-message" severity="danger"
                  text="{{ 'POVOLENI_VJEZDU_VOZIDLA.RZ_VOZIDLA_VALIDATOR' | translate }}"
                  *ngIf="!formDetail.controls['rzVozidla{{i}}']?.valid && formDetail.controls['rzVozidla{{i}}']?.dirty">
                </p-message>
              </span>
            </div>
          
            <!-- Typ vozidla -->
            <div class="col-sm-5 p-0 ps-sm-1">
              <!-- <app-dropdown class="app-dropdown" idDropdown="typVozidla{{i}}" id="typVozidla{{i}}"
                name="typVozidla{{i}}" [required]="true" [showClear]="true" labelText="{{ 'POVOLENI_VJEZDU_VOZIDLA.TYP_VOZIDLA' | translate }}" 
                [readOnly]="rezimDetailu == RezimDetailuEnum.Detail" 
                [disabled]="rezimDetailu == RezimDetailuEnum.Detail" 
                placeholderText="POVOLENI_VJEZDU_VOZIDLA.TYP_VOZIDLA"
                validatorMessageText="POVOLENI_VJEZDU_VOZIDLA.TYP_VOZIDLA_VALIDATOR" [form]="formDetail"
                [nacitani]="nacitaniDatVozidloTyp" dataKey="id"
                [valuesObservable]="vozidloTypValuesObservable" 
                [(ngModel)]="detail!.typVozidla[i]" optionLabel="nazev"
               ></app-dropdown>  -->
            </div>
          
            <!-- Tlačítko odstranit -->
            <div *ngIf="rezimDetailu != RezimDetailuEnum.Detail && detail.rzVozidla.length > 1" class="col-sm-2 p-0 pe-sm-1 d-flex align-items-center">
              <button type="button" class="btn btn-sm btn-outline-danger" style="margin: 10px 0px 0px 8px; padding: 7px 8px;"  (click)="odstranitVstup(i)">
                <i class="fas fa-minus"></i> Odstranit
              </button>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="row m-0">
        <!-- Země registrace vozidla -->
        <div class="col-sm-6 p-0 pe-sm-1">
          <!-- <app-dropdown class="app-dropdown" idDropdown="zemeRegistraceVozidla" id="zemeRegistraceVozidla"
          name="zemeRegistraceVozidla" [required]="true" labelText="{{ 'POVOLENI_VJEZDU_VOZIDLA.ZEME_REGISTRACE_VOZIDLA' | translate }}"
          [readOnly]="rezimDetailu == RezimDetailuEnum.Detail" 
          [disabled]="rezimDetailu == RezimDetailuEnum.Detail" 
          placeholderText="{{ 'POVOLENI_VJEZDU_VOZIDLA.ZEME_REGISTRACE_VOZIDLA' | translate }}"
          validatorMessageText="{{ 'POVOLENI_VJEZDU_VOZIDLA.ZEME_REGISTRACE_VOZIDLA_VALIDATOR' | translate }}" [form]="formDetail"
          [nacitani]="nacitaniDatStat" dataKey="id"
          [valuesObservable]="statValuesObservable"
          [(ngModel)]="detail!.zemeRegistraceVozidla"
          optionLabel="nazev"></app-dropdown> -->
        </div>
  
  
        <!-- Společnost vozidla -->
        <div class="col-sm-6 p-0 ps-sm-1">
          <span class="p-float-label">
            <input pInputText type="text" autocomplete="off" [(ngModel)]="detail!.spolecnostVozidla" id="spolecnostVozidla"
              name="spolecnostVozidla" />
            <label for="spolecnostVozidla">{{ 'POVOLENI_VJEZDU_VOZIDLA.SPOLECNOST_VOZIDLA' | translate }} *</label>
            <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.SPOLECNOST_VOZIDLA_VALIDATOR' | translate }}"
              *ngIf="!formDetail.controls['spolecnostVozidla']?.valid && formDetail.controls['spolecnostVozidla']?.dirty"></p-message>
          </span>
        </div>
      </div>

      <!-- Řidič -->
      
      <div *ngIf="rezimDetailu != RezimDetailuEnum.Detail" class="d-flex" >
        <button *ngIf="!isRidicRequired" (click)="toggleRidicRequired();" type="button" class="btn btn-sm btn-outline-primary mt-2 ms-auto"><i class="far fa-file"></i>
          {{ 'POVOLENI_VJEZDU_VOZIDLA.PRIDAT_RIDICE' | translate }}</button>
        <button *ngIf="isRidicRequired" (click)="smazatRidice();" type="button" class="btn btn-sm btn-outline-danger mt-2 ms-auto"><i class="far fa-file"></i>
          {{ 'POVOLENI_VJEZDU_VOZIDLA.ODEBRAT_RIDICE' | translate }}</button>
      </div>

      <fieldset *ngIf="isRidicRequired">
        <legend>Řidič</legend>

        <div class="row m-0">
          <!-- Řidič - Jméno -->
          <div class="col-sm-6 p-0 pe-sm-1">
            <span class="p-float-label">
              <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="ridicJmeno" id="jmeno"
                name="jmeno"/>
              <label for="jmeno">{{ 'RIDIC.JMENO' | translate }}  *</label>
              <p-message class="validator-message" severity="danger" text="{{ 'RIDIC.JMENO_VALIDATOR' | translate }}"
                *ngIf="!formDetail.controls['jmeno']?.valid && formDetail.controls['jmeno']?.dirty"></p-message>
            </span>
          </div>

          <!-- Řidič - Příjmení -->
          <div class="col-sm-6 p-0 ps-sm-1">
            <span class="p-float-label">
              <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="ridicPrijmeni" id="prijmeni"
                name="prijmeni" />
              <label for="prijmeni">{{ 'RIDIC.PRIJMENI' | translate }} *</label>
              <p-message class="validator-message" severity="danger" text="{{ 'RIDIC.PRIJMENI_VALIDATOR' | translate }}"
                *ngIf="!formDetail.controls['prijmeni']?.valid && formDetail.controls['prijmeni']?.dirty"></p-message>
            </span>
          </div>
        </div>

        <div class="row m-0">
          <!-- Řidič - Firma -->
          <div class="col-sm-6 p-0 pe-sm-1">
            <span class="p-float-label">
              <input pInputText type="text" [required]="false" autocomplete="off" [(ngModel)]="ridicFirma" id="firma"
                name="firma" />
              <label for="firma">{{ 'RIDIC.FIRMA' | translate }}</label>
              <p-message class="validator-message" severity="danger" text="{{ 'RIDIC.FIRMA_VALIDATOR' | translate }}"
                *ngIf="!formDetail.controls['firma']?.valid && formDetail.controls['firma']?.dirty"></p-message>
            </span>
          </div>

          <!-- Řidič - Číslo OP -->
          <div class="col-sm-6 p-0 ps-sm-1">
            <span class="p-float-label">
              <input pInputText type="text" [required]="true" autocomplete="off" [(ngModel)]="ridicCisloOp" id="cisloOp"
                name="cisloOp" (ngModelChange)="fillInRidicByCisloOp($event)" />
              <label for="cisloOp">{{ 'RIDIC.CISLO_OP' | translate }} *</label>
              <p-message class="validator-message" severity="danger" text="{{ 'RIDIC.CISLO_OP_VALIDATOR' | translate }}"
                *ngIf="!formDetail.controls['cisloOp']?.valid && formDetail.controls['cisloOp']?.dirty"></p-message>
            </span>
          </div>
        </div>

      </fieldset>

      

      <div class="row m-0">
        <!-- Datum od -->
        <div class="col-sm-6 p-0 pe-sm-1">
          <!-- <app-calendar class="app-calendar" idCalendar="datumOd"  id="datumOd" name="datumOd" 
            labelText="POVOLENI_VJEZDU_VOZIDLA.DATUM_OD" (onBlurEvent)="nastavPlatnost(false)" (onSelectEvent)="nastavPlatnost(false)"
            [required]="true" validatorMessageText="POVOLENI_VJEZDU_VOZIDLA.DATUM_OD_VALIDATOR" [form]="formDetail" 
            [showButtonBar]="true" [readonly]="rezimDetailu == RezimDetailuEnum.Detail" [(ngModel)]="detail.datumOd" >
          </app-calendar> -->
        </div>
  
  
        <!-- Datum do -->
        <div class="col-sm-6 p-0 ps-sm-1">
            <!-- <app-calendar class="app-calendar" idCalendar="datumDo"  id="datumDo" name="datumDo" 
            labelText="POVOLENI_VJEZDU_VOZIDLA.DATUM_DO" (onBlurEvent)="nastavPlatnost(false)" (onSelectEvent)="nastavPlatnost(false)"
            [required]="true" validatorMessageText="POVOLENI_VJEZDU_VOZIDLA.DATUM_DO_VALIDATOR" [form]="formDetail" 
            [showButtonBar]="true" [readonly]="rezimDetailu == RezimDetailuEnum.Detail" [(ngModel)]="detail.datumDo" > -->
          </app-calendar>
        </div>
      </div>

      <!-- Lokalita - závod -->
      <span class="p-float-label">
        <p-multiSelect id="multiSelect" name="multiSelect" scrollHeight="300px" display="chip" required="true"
          [options]="zavodList" dataKey="id" [(ngModel)]="detail.zavod" optionLabel="nazev"
            [overlayOptions]="{baseZIndex: 1010, appendTo: 'body'}">
        </p-multiSelect>
        <p-message class="validator-message" severity="danger" text="{{ 'POVOLENI_VJEZDU_VOZIDLA.LOKALITA_VALIDATOR' | translate }}"
          *ngIf="!formDetail.controls['zavod']?.valid && formDetail.controls['zavod']?.dirty"></p-message>
        <label htmlFor="multiSelect">Závod *</label>
      </span>

      <!-- Checkbox pro opakovaný vjezd -->
      <div class="form-label-group ps-2">
        <div class="p-field-checkbox">
          <p-checkbox inputId="opakovanyVjezd" name="opakovanyVjezd"
            [(ngModel)]="detail!.opakovanyVjezd" [binary]="true"></p-checkbox>
          <label class="checkbox-label-group" for="opakovanyVjezd">{{ 'POVOLENI_VJEZDU_VOZIDLA.OPAKOVANY_VJEZD' | translate }}</label>
        </div>
      </div>

  </form>